{% extends "game.html" %}
{% load static %}
{% load game_extras %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/recruit.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Recruitment - {{ building_name }}</h4>
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr><th>Troop</th><th>Cost</th><th>Time</th><th>Stats</th><th>Amount</th></tr>
                        </thead>
                        <tbody>
                            {% for value, name in troop_options %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{% troop_cost value %}</td>
                                <td>{% troop_time value village %}</td>
                                <td>{% troop_stats value village %}</td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" name="{{ value }}" value="0" class="form-control" />
                                        <div class="input-group-append">
                                            <button type="button" class="max btn btn-primary">Max</button></td>
                                        </div>
                                    </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Recruit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include "game/panels/recruit_queue.html" %}
        {% include "game/panels/army.html" %}
    </div>
</div>
{% endblock %}
