{% extends "game.html" %}
{% load game_extras %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Recruitment - Barracks</h4>
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr><th>Troop</th><th>Cost</th><th>Time</th><th>Amount</th></tr>
                        </thead>
                        <tbody>
                            {% for value, name in troop_options %}
                            <tr><td>{{ name }}</td><td>{% troop_cost value %}</td><td>{% troop_time value %}</td><td><input type="number" name="{{ value }}" value="0" class="form-control" /></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Recruit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Recruitment Queue</h4>
                {% for troop in troop_queue %}
                <div>{{ troop.get_type_display }} ({{ troop.amount }})</div>
                {% empty %}
                <span>There are no soldiers in the queue.</span>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Army</h4>
                <table class="table">
                    <thead>
                        <tr><th>Type</th><th>Amount</th></tr>
                    </thead>
                    <tbody>
                        {% for troop in troops %}
                        <tr><td>{{ troop.get_type_display }}</td><td>{{ troop.amount }}</td></tr>
                        {% empty %}
                        <tr><td colspan="2">You don't have any soldiers.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
