{% extends "base.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="small-card card">
    <div class="card-body">
        <h3>Join {{ world.name }}</h3>
        <p>You are not currently active in this world. Would you like to join <b>{{ world.name }}</b>?</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label><input type="radio" name="spawn" value="random" checked /> Spawn Randomly</label>
            </div>
            <button type="submit" class="btn btn-primary">Join World</button>
        </form>
    </div>
</div>
<div style="text-align:center"><a href="{% url "index" %}">Back</a> &mdash; <a href="{% url "logout" %}">Logout</a></div>
{% endblock %}
