{% extends "game.html" %}
{% load game_extras %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Headquarters</h4>
                <table class="table">
                    <thead>
                        <tr><th>Building</th><th>Level</th><th>Cost</th><th>Time</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                        {% for build in buildings %}
                        <tr>
                            <td>{{ build.get_type_display }}</td>
                            <td>{{ build.level }}</td>
                            <td>{% if build.level < build.max_level %}{% building_cost build.type build.level_after_upgrade %}{% else %}-{% endif %}</td>
                            <td>{% if build.level < build.max_level %}{% building_time build.type build.level_after_upgrade %}{% else %}-{% endif %}</td>
                            <td>
                                {% if build.level < build.max_level %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="building" value="{{ build.id }}" />
                                    <button type="submit" class="btn btn-primary btn-sm">Upgrade</button>
                                </form>
                                {% else %}
                                Max Level
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% for value, name in not_built %}
                        <tr><td>{{ name }}</td><td>-</td><td>{% building_cost value 0 %}</td><td>{% building_time value 0 %}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="build" value="{{ value }}" />
                                    <button type="submit" {% if not village|can_build:value %}disabled="disabled"{% endif %} class="btn btn-primary btn-sm">Build</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Build Queue</h4>
                {% for item in queue %}
                <div>{{ item.get_type_display }} to level {{ item.new_level }} <span class="float-right countdown" datetime="{{ item.end_time|date:"c" }}">{{ item.end_time|default_if_none:"" }}</span></div>
                {% empty %}
                <span>The build queue is currently empty.</span>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Rename Village</h4>
                <p>You can use the form below to rename your village.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Village Name</label>
                        <input type="text" class="form-control" name="name" value="{{ village.name }}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Rename</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
