{% extends "game.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/map.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js" integrity="sha256-Y1FoPjA9P8r32Xxe8bgnq+YS2CNo2kH3YCiAMTvwofo=" crossorigin="anonymous"></script>
<script src="{% static "js/map.js" %}"></script>
<script>
    var MAP_ENDPOINT = "{% url "map_load" %}";
    var userid = {{ request.user.id }};
    var coords = [{{ x }}, {{ y }}];
</script>
{% endblock %}

{% block content %}
<div id="map-wrapper" class="card">
    <div class="card-body">
        <div id="map" class="dragscroll">
            <div id="world">
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div id="info">Click on a village to view more information.</div>
        <div id="coords">(X: <input type="number" id="x" />, Y: <input type="number" id="y" />)</div>
    </div>
</div>
{% endblock %}
