{% extends "game.html" %}

{% block css %}
    {{ block.super }}
<style>
#x, #y {
    display: inline-block;
    width: 60px;
    font-size: 0.9em;
}
#coords {
    margin-top: 7px;
}
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    var COORD_ENDPOINT = "{% url "map_coord" %}";

$(document).ready(function() {
    if (window.location.hash) {
        var coords = window.location.hash.substring(1).split("-");
        $("#x").val(coords[0]);
        $("#y").val(coords[1]);
    }
    $("#x, #y").blur(function() {
        $.get(COORD_ENDPOINT + "?x=" + encodeURIComponent($("#x").val()) + "&y=" + encodeURIComponent($("#y").val()), function(data) {
            if (!data.exists) {
                $("#info").css("color", "red").text("Nonexistent Village!");
            }
            else {
                $("#info").css("color", "black").text(" - " + data.name + " (owned by " + data.owner + ")");
            }
        });
    });
    $("#x").blur();
});
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Attack - Rally Point</h4>
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr><th>Troop</th><th>Amount</th></tr>
                        </thead>
                        <tbody>
                            {% for troop in village.troops.all %}
                            <tr><td>{{ troop.get_type_display }}</td><td><input type="number" name="{{ troop.type }}" value="0" class="form-control" /></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div id="coords" class="float-left">Target Village: (<input type="number" id="x" name="x" />|<input type="number" id="y" name="y" />) <span id="info"></span></div>
                        <button type="submit" class="btn btn-primary float-right">Attack</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Army</h4>
                <table class="table">
                    <thead>
                        <tr><th>Type</th><th>Amount</th></tr>
                    </thead>
                    <tbody>
                        {% for troop in village.troops.all %}
                        <tr><td>{{ troop.get_type_display }}</td><td>{{ troop.amount }}</td></tr>
                        {% empty %}
                        <tr><td colspan="2">You don't have any soldiers.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
