{% extends "game.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
<style>
#x, #y {
    display: inline-block;
    width: 60px;
    font-size: 0.9em;
}
#coords {
    margin-top: 7px;
}
.selectize-control {
    float: left;
    width: 200px;
    width: calc(100% - 180px);
    margin-bottom: -5px;
}
.selectize-input {
    padding: 10px;
}
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/rally.js" %}"></script>
    <script>
    var COORD_ENDPOINT = "{% url "map_coord" %}";
    var LOAD_ENDPOINT = "{% url "map_load" %}";
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="float-left">Rally Point</h4>
                    <span class="float-right"><button id="select_none" class="btn btn-primary btn-sm">No Troops</button><button id="select_all" class="btn btn-primary btn-sm">All Troops</button></span>
                </div>
                <br />
                <form method="POST">
                    {% csrf_token %}
                    <table id="recruit" class="table">
                        <thead>
                            <tr><th>Troop</th><th>Amount</th></tr>
                        </thead>
                        <tbody>
                            {% for troop in village.troops.all %}
                            <tr><td>{{ troop.get_type_display }}</td><td><input type="number" name="{{ troop.type }}" value="0" class="form-control" /></td></tr>
                            {% empty %}
                            <tr><td colspan="2">You don't have any soldiers! You can recruit some in the <a href="{% url "barracks" village.id %}">barracks</a>.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div id="coords" class="float-left">Target Village: (<input type="number" id="x" name="x" />|<input type="number" id="y" name="y" />) <span id="info"></span></div>
                        <input name="coords" type="hidden" />
                        <div class="float-right">
                            <button type="submit" name="action" value="attack" class="btn btn-primary">Attack</button>
                            <button type="submit" name="action" value="support" class="btn btn-primary">Support</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if external %}
        <div class="card">
            <div class="card-body">
                <h4>External Troops</h4>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="withdrawl" />
                    <table class="table">
                        <tbody>
                            {% for village in external %}
                            <tr><td>{{ village }}</td><td><button type="submit" name="id" value="{{ village.id }}" class="btn btn-primary btn-sm">Withdrawl</button></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        {% endif %}
        {% if foreign %}
        <div class="card">
            <div class="card-body">
                <h4>Foreign Troops</h4>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="sendback" />
                    <table class="table">
                        <tbody>
                            {% for village in foreign %}
                            <tr><td>{{ village }}</td><td><button type="submit" name="id" value="{{ village.id }}" class="btn btn-primary btn-sm">Send Back</button></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include "game/panels/army.html" %}
    </div>
</div>
{% endblock %}
