{% extends "game.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if new_player %}
        <div class="card">
            <div class="card-body">
                <h4>Welcome!</h4>
                <span>Welcome to Village Battles! To get started, click on the <span class="quest snippet" data-type="1">Q</span> in the upper left corner of the page.</span>
            </div>
        </div>
        {% endif %}
        {% include "game/panels/build_queue.html" %}
        {% include "game/panels/recruit_queue.html" %}
        <div class="card">
            <div class="card-body">
                <h4>Resources</h4>
                <div>Wood Rate: {{ village.wood_rate }} per hour</div>
                <div>Clay Rate: {{ village.clay_rate }} per hour</div>
                <div>Iron Rate: {{ village.iron_rate }} per hour</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Buildings</h4>
                <table class="table">
                    <thead>
                        <tr><th>Building</th><th>Level</th></tr>
                    </thead>
                    <tbody>
                        {% for build in buildings %}
                        {% with build.url as action %}
                        <tr><td>{% if action %}<a href="{{ action }}">{% endif %}{{ build.get_type_display }}{% if action %}</a>{% endif %}</td><td>{{ build.level }}</td></tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% if incoming %}
        <div class="card">
            <div class="card-body">
                <h4>Incoming Troops</h4>
                {% for att in incoming %}
                <div><a href="{{ att.source.url }}">{{ att.source }}</a> ({{ att.get_type_display }}) <span class="float-right countdown" datetime="{{ att.end_time|date:"c" }}">{{ att.end_time|default_if_none:"" }}</span></div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if outgoing %}
        <div class="card">
            <div class="card-body">
                <h4>Outgoing Troops</h4>
                {% for att in outgoing %}
                <div><a href="{{ att.destination.url }}">{{ att.destination }}</a> ({{ att.get_type_display }}) <span class="float-right countdown" datetime="{{ att.end_time|date:"c" }}">{{ att.end_time|default_if_none:"" }}</span></div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% include "game/panels/army.html" %}
    </div>
</div>
{% endblock %}
