{% extends "game.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Buildings</h4>
                <table class="table">
                    <thead>
                        <tr><th>Building</th><th>Level</th></tr>
                    </thead>
                    <tbody>
                        {% for build in buildings %}
                        {% with build.url as action %}
                        <tr><td>{% if action %}<a href="{{ action }}">{% endif %}{{ build.get_type_display }}{% if action %}</a>{% endif %}</td><td>{{ build.level }}</td></tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Army</h4>
                <table class="table">
                    <thead>
                        <tr><th>Type</th><th>Amount</th></tr>
                    </thead>
                    <tbody>
                        {% for troop in troops %}
                        <tr><td>{{ troop.get_type_display }}</td><td>{{ troop.amount }}</td></tr>
                        {% empty %}
                        <tr><td colspan="2">You don't have any soldiers.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
