{% extends "game.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="small-card card">
    <div class="card-body">
        <h3>{{ village.name }}</h3>
        <div>Owner: <a href="{% url "user" village.owner.id %}">{{ village.owner.username }}</a></div>
        <div>Coordinates: ({{ village.x }}|{{ village.y }})</div>
        <hr />
        <a href="{% url "map" %}#{{ village.x }}-{{ village.y }}" class="btn btn-primary">Map</a>
        <a href="{% url "rally" current_village.id %}#{{ village.x }}-{{ village.y }}" class="btn btn-primary">Attack</a>
    </div>
</div>
{% endblock %}
