{% extends "game.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>Profile</h3>
                <p>This text will be displayed to other users when they visit your profile page.</p>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="profile" />
                    <div class="form-group">
                        <textarea class="form-control" name="profile">{{ request.user.profile }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card card-form">
            <div class="card-body">
                <h3>Change Password</h3>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="password" />
                    {{ password_form.as_p }}
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
