body {
    background: url("../images/background.png");
    font-family: 'Almendra', serif;
}
.navbar {
    background-color: #C62828;
}
.navbar a {
    color: gold;
}
.navbar a:hover {
    color: silver;
}
.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-brand {
    font-weight: bold;
}
.card, .modal-content {
    background: url("../images/background2.png");
    border: 5px double gold;
    margin-bottom: 30px;
}
.btn.btn-primary {
    cursor: pointer;
    background: #c62828;
    background: -moz-linear-gradient(top, #c62828 0%, #660000 100%);
    background: -webkit-linear-gradient(top, #c62828 0%,#660000 100%);
    background: linear-gradient(to bottom, #c62828 0%,#660000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c62828', endColorstr='#660000',GradientType=0 );
    border: 3px double white;
}
.btn.btn-primary:not(:disabled):hover {
    background: -moz-linear-gradient(top, #E04242 0%, #990000 100%);
    background: -webkit-linear-gradient(top, #E04242 0%,#990000 100%);
    background: linear-gradient(to bottom, #E04242 0%,#990000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E04242', endColorstr='#990000',GradientType=0 );
}
.btn.btn-primary:disabled {
    cursor: default;
    color: #ccc;
}
.btn.btn-secondary {
    background: -moz-linear-gradient(top, #868e96 0%, #444444 100%);
    background: -webkit-linear-gradient(top, #868e96 0%,#444444 100%);
    background: linear-gradient(to bottom, #868e96 0%,#444444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868e96', endColorstr='#444444',GradientType=0 );
    cursor: pointer;
    border: 3px double white;
}
.btn.btn-secondary:hover {
    background: -moz-linear-gradient(top, #A0A8B0 0%, #666666 100%);
    background: -webkit-linear-gradient(top, #A0A8B0 0%,#666666 100%);
    background: linear-gradient(to bottom, #A0A8B0 0%,#666666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0A8B0', endColorstr='#666666',GradientType=0 );
}
.form-control {
    border: 2px double gold;
}
.table thead th {
    border-color: brown;
}
.center-card {
    max-width: 600px;
    margin: 30px auto;
}
.pagination {
    display: block;
    font-size: 1.2em;
    text-align: center;
}
.pagination a {
    margin-left: 5px;
    margin-right: 5px;
}
