#footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 0.75em;
}
#topbar {
    padding: 5px;
}
.snippet {
    color: black;
    display: inline-block;
    background-color: #F4A460;
    border: 1px solid brown;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 5px 3px;
}
.snippet a {
    color: black;
}
a.snippet:hover, .snippet a:hover {
    color: #666;
    text-decoration: none;
}
.row {
    margin: 0 5px;
}
.small-card {
    max-width: 400px;
    margin: 15px;
}
.wood:before, .clay:before, .iron:before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.wood:before {
    background: url("../images/wood.png");
    background-size: cover;
}
.clay:before {
    background: url("../images/clay.png");
    background-size: cover;
}
.iron:before {
    background: url("../images/iron.png");
    background-size: cover;
}
