#card-login, #card-register {
    max-width: 600px;
    margin: 30px auto;
}
#card-login button, #card-register button {
    min-width: 100px;
}
#register {
    min-width: 150px;
}
#card-register label {
    display: block;
    margin-bottom: 2px;
}
#card-register input {
    width: 100%;
    border: 3px double gold;
    outline-color: gold;
    padding: 2px 5px;
}
.helptext {
    display: block;
    font-size: 0.8em;
}
